<head>
    <style>
      /* Remove the arrows in Webkit-based browsers (Chrome, Safari, etc.) */
      input[type="number"]::-webkit-outer-spin-button,
      input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Remove the arrows in Firefox */
      input[type="number"] {
        -moz-appearance: textfield;
      }
      input[type="number"]::before {
      content: '$';
      position: absolute;
      left: 10px; /* Đảm bảo ký hiệu $ nằm ở vị trí đúng */
      top: 50%;
      transform: translateY(-50%);
      color: #888; /* Màu sắc của ký hiệu $ */
    }
        /* Style the range input thumbs (slider handles) */
    input[type="range"] {
      -webkit-appearance: none;
      appearance: none;
      background: transparent; /* Transparent track to only show custom progress bar */
    }

    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 16px;
      height: 16px;
      background-color: #4f75ff; /* Blue color for the thumb */
      border-radius: 50%;
      cursor: pointer;
      margin-top: -7px; /* Centers the thumb on the progress bar */
    }

    input[type="range"]::-moz-range-thumb {
      width: 16px;
      height: 16px;
      background-color: #4f75ff;
      border-radius: 50%;
      cursor: pointer;
    }

    input[type="range"]::-webkit-slider-runnable-track {
      height: 4px; /* Make the track narrow */
    }

    input[type="range"]::-moz-range-track {
      height: 4px;
    }
  </style>
</head>

<body class="bg-gray-100 font-sans">
  <main class="mx-4 md:mx-10 lg:mx-20 p-6">
        <div class="mb-12">
            <div class="grid grid-cols-5 gap-6">
                <div class="col-span-4">
                    <h2 class="text-4xl lg:text-5xl font-bold text-left">Our Courses</h2>
                    <p class="text-gray-600 mt-2">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis praesentium voluptatum reiciendis aspernatur et nam aliquam iure non enim numquam exercitationem, quod dolore est id quo repudiandae! Repellendus, voluptatibus. Quae.
                    </p>
                </div>
            </div>
        </div>

      <!-- Filter Section -->
      <div class="max-w-full p-6 mb-6 bg-white rounded-lg shadow-lg">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
          <!-- Multiselect Dropdown for Topic -->
          <div class="flex flex-col mb-4">
            <label for="topic" class="mb-1 text-xl text-gray-600">Topic</label>
            <div class="relative ">
              <!-- Selected Items -->
              <div
                id="selected-topic"
                class="flex flex-wrap gap-2 px-3 py-2 border rounded-full bg-white text-sm cursor-pointer"
                onclick="toggleDropdown('topic')"
              >
                <span class="text-gray-400">All topics</span>
                <svg class="w-4 h-4 ml-auto" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                </svg>
              </div>
                
              <!-- Dropdown -->
              <div
                id="dropdown-topic"
                class="absolute z-50 w-full bg-white border rounded shadow-lg hidden max-h-48 overflow-y-auto"
              >
                {{#each topics}}
                <div
                  class="px-4 py-2 cursor-pointer hover:bg-gray-100"
                  onclick="toggleSelection('{{this.Name}}', 'topic')"
                >
                  {{this.Name}}
                </div>
                {{/each}}

              </div>
              <div id="topic-tags" class="mt-2 flex flex-wrap gap-2"></div>
            </div>
          </div>

          <!-- Price Range Section -->
          <div class="flex flex-col mb-4">
            <label for="price" class="mb-1 text-xl text-gray-600">Price</label>
            <div class="relative">
              <!-- Selected Items -->
              <div
                id="selected-price"
                class="flex flex-wrap gap-2 px-3 py-2 border rounded-full bg-white text-sm cursor-pointer"
                onclick="toggleDropdown('price')">
                <span class="text-gray-400">All prices</span>
                <svg class="w-4 h-4 ml-auto" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                </svg>
              </div>

              <!-- Dropdown -->
              <div id="dropdown-price"
                class="absolute z-50 w-full bg-white border rounded shadow-lg hidden max-h-64 overflow-y-auto p-4">
                  <!-- Min and Max Price Inputs -->
                <div class="flex items-center justify-between mb-4">
                  <!-- Đảm bảo các dấu $ luôn hiển thị -->
                  <div class="flex items-center space-x-2">
                    <span class="text-sm">Min</span>
                    <div class="relative">
                      <div class="absolute left-2 top-1/2 transform -translate-y-1/2 text-gray-500 pointer-events-none">
                        $
                      </div>
                      <input
                        id="minPrice"
                        type="number"
                        class="w-20 pl-6 h-8 text-center text-sm border rounded-lg focus:outline-none focus:ring-2 focus:ring-[#4f75ff]"
                        value="0"
                      />
                    </div>
                  </div>
                  <span class="text-xl">-</span>
                  <div class="flex items-center space-x-2">
                    <span class="text-sm">Max</span>
                    <div class="relative">
                      <div class="absolute left-2 top-1/2 transform -translate-y-1/2 text-gray-500 pointer-events-none">
                        $
                      </div>
                      <input
                        id="maxPrice"
                        type="number"
                        class="w-20 pl-6 h-8 text-center text-sm border rounded-lg focus:outline-none focus:ring-2 focus:ring-[#4f75ff]"
                        value="100"/>
                    </div>
                  </div>
                </div>

                <div class="relative mb-4">
                    <!-- Progress Bar (higher z-index) -->
                  <div class="absolute h-1 rounded-full top-1/2 transform -translate-y-1/2 w-full z-10 bg-gray-300">
                    <div id="progress" class="absolute h-full bg-[#4f75ff] rounded-full"></div>
                  </div>
                    <!-- Range Inputs (lower z-index) -->
                  <div class="relative">
                    <input
                      id="minRange"
                      type="range"
                      class="range-input range-min absolute w-full h-1 top-0 z-10"
                      min="0"
                      max="500"
                      value="0"
                      step="10"/>
                    <input
                      id="maxRange"
                      type="range"
                      class="range-input range-max absolute w-full h-1 top-0 z-10"
                      min="0"
                      max="500"
                      value="100"
                      step="10"/>
                  </div>
                </div>
                <div class="mt-10 text-right mr-2">
                  <button class="min-w-[120px] max-w-[150px] text-white font-semibold bg-blue-700 hover:bg-blue-800 px-4 py-2 rounded-lg"
                          id="acceptPriceRangeBtn" onclick="acceptPriceRange()">
                        OK
                  </button>
                </div>
              </div>
              <div id="price-tags" class="mt-2 flex flex-wrap gap-2"></div>
            </div>
          </div>

          <!-- Multiselect Dropdown for Level -->
          <div class="flex flex-col mb-4">
          <label for="level" class="mb-1 text-xl text-gray-600">Level</label>
          <div class="relative">
            <!-- Selected Items -->
            <div
              id="selected-level"
              class="flex items-center gap-2 px-3 py-2 border rounded-full bg-white text-sm cursor-pointer"
              onclick="toggleDropdown('level')">
              <span id="selected-level-text" class="text-gray-400">All levels</span>
              <svg class="w-4 h-4 ml-auto" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
              </svg>
            </div>

            <!-- Dropdown -->
              <div
                id="dropdown-level"
                class="absolute z-50 w-full bg-white border rounded shadow-lg hidden max-h-48 overflow-y-auto">
                <div
                  class="px-4 py-2 cursor-pointer hover:bg-gray-100"
                  onclick="toggleSelection('Beginner', 'level')">
                    Beginner
                </div>
                <div
                  class="px-4 py-2 cursor-pointer hover:bg-gray-100"
                  onclick="toggleSelection('Intermediate', 'level')">
                    Intermediate
                </div>
                <div
                  class="px-4 py-2 cursor-pointer hover:bg-gray-100"
                  onclick="toggleSelection('Advance', 'level')">
                    Advance
                </div>
              </div>
            <div id="level-tags" class="mt-2 flex flex-wrap gap-2"></div>
          </div>
          </div>

          <!-- Multiselect Dropdown for Skill -->
          <div class="flex flex-col mb-4">
            <label for="skill" class="mb-1 text-xl text-gray-600">Skill Gain</label>
            <div class="relative">
              <!-- Selected Items -->
              <div
                id="selected-skill"
                class="flex flex-wrap gap-2 px-3 py-2 border rounded-full bg-white text-sm cursor-pointer"
                onclick="toggleDropdown('skill')"
              >
                <span class="text-gray-400">Any skill</span>
                <svg class="w-4 h-4 ml-auto" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
              </svg>
              </div>

              <!-- Dropdown -->
              <div
                id="dropdown-skill"
                class="absolute z-50 w-full bg-white border rounded shadow-lg hidden max-h-48 overflow-y-auto"
              >
              {{#each skills}}
                <div
                  class="px-4 py-2 cursor-pointer hover:bg-gray-100"
                  onclick="toggleSelection('{{this.Name}}', 'skill')"
                >
                  {{this.Name}}
                </div>
              {{/each}}
              </div>
              <div id="skill-tags" class="mt-2 flex flex-wrap gap-2"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Sort Section -->
      <div class="inline-block relative text-4xl shadow-lg px-4 py-1 rounded-lg mb-6 bg-white">
        <div class="mb-4">
            <span for="sort" class="mb-1 text-xl text-gray-600">Sort</span>
            <div class="inline-block ">
              <!-- Selected Items -->
              <div
                class="flex flex-wrap gap-2 px-3 py-2 border rounded-full bg-white text-sm cursor-pointer"
                onclick="toggleDropdown('sort')"
              >
                <span id="sort-info" class="text-gray-400 w-30">None</span>
                <svg class="w-4 h-4 ml-auto" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                </svg>
              </div>
                
              <!-- Dropdown -->
              <div id="dropdown-sort"
                class="absolute z-50 w-full bg-white border rounded shadow-lg hidden max-h-48 overflow-y-auto text-base">
                <div class="px-4 py-2 cursor-pointer hover:bg-gray-100" onclick="appliedSort('Title', 'asc')">
                  By Name ( A - Z )
                </div>
                <div class="px-4 py-2 cursor-pointer hover:bg-gray-100" onclick="appliedSort('Title', 'desc')">
                  By Name ( Z - A )
                </div>
                <div class="px-4 py-2 cursor-pointer hover:bg-gray-100" onclick="appliedSort('Price', 'asc')">
                  By Price ( Low - High )
                </div>
                <div class="px-4 py-2 cursor-pointer hover:bg-gray-100" onclick="appliedSort('Price', 'desc')">
                  By Price ( High - Low )
                </div>
                <div class="px-4 py-2 cursor-pointer hover:bg-gray-100" onclick="appliedSort('Duration', 'asc')">
                  By Duration ( Short - Long )
                </div>
                <div class="px-4 py-2 cursor-pointer hover:bg-gray-100" onclick="appliedSort('Duration', 'desc')">
                  By Duration ( Long - Short )
                </div>
                <div class="px-4 py-2 cursor-pointer hover:bg-gray-100" onclick="appliedSort('None', 'none')">
                  None
                </div>
              </div>
            </div>
        </div>
      </div>

      <!-- Course Cards -->
      <div id="courses-container" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {{#if courses.length}}
        {{#each courses}}
          <a href="/courses/{{this._id}}">
          <div class="bg-white rounded-lg shadow-lg overflow-hidden flex flex-col">
              <img src="{{this.Img}}" alt="{{this.Title}}" class="w-full h-72 object-cover" />
              <div class="p-6 flex-grow">
                  <div class="flex items-center text-sm text-gray-500 mb-2">
                      <div class="mr-2 border border-slate-300 rounded-md inline-block py-0.5 px-2">{{this.Duration}} Weeks</div> | 
                      <span class="ml-2 border border-slate-300 rounded-md inline-block py-0.5 px-2">{{this.Level}}</span>
                      <div class="ml-auto inline-block py-0.5 px-2 text-right font-semibold text-lg text-black">
                        ${{this.Price}}
                      </div>
                  </div>
                  <h3 class="text-xl font-semibold">{{this.Title}}</h3>
                  <p class="text-gray-400 text-sm mt-2">{{this.ShortDesc}}</p>
              </div>
              <div class="grid grid-cols-2 gap-2 mt-auto mb-3 p-3">
                  <button class="mt-4 w-full bg-gray-100 text-black py-2 rounded-md">Get it Now</button>
                  <button id="seeMore-btn" class="mt-4 w-full bg-gray-100 text-black py-2 rounded-md" 
                  onclick="window.location.href='/courses/{{this._id}}'">See detail</button>
              </div>
          </div>
          </a>
          {{/each}}
        {{else}}
          <div class="text-gray-600 mt-8 col-span-3">
              <h2 class="text-4xl font-bold text-center">No Courses found</h2>
          </div>
        {{/if}}
      </div>

      <!-- Pagination -->
      <div class="flex justify-center mt-8 space-x-4" id="Pagination">
          <button id="prev-btn" class="px-4 py-2 bg-gray-800 text-white rounded-md {{#if isFirstPage}}disabled:bg-gray-300 text-gray-700{{/if}}" 
                  onclick="changePage('prev')"
                  {{#if isFirstPage}}disabled{{/if}}>Previous</button>
          <div id="page-info" class="text-gray-700 font-medium inline-block relative top-2">Page {{currentPage}} of {{totalPages}}</div>
          <button id="next-btn" class="px-4 py-2 bg-gray-800 text-white rounded-md {{#if isLastPage}}disabled:bg-gray-300 text-gray-700{{/if}}" 
                  onclick="changePage('next')"
                  {{#if isLastPage}}disabled{{/if}}>Next</button>
      </div>
  </main>
  <script src="/javascripts/CourseScript.js"></script>
</body>
