<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Courses</title>
    <link rel="stylesheet" href="../css/output.css" />
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap" rel="stylesheet" />
</head>
<style>
    body {
        font-family: "Be Vietnam Pro", sans-serif;
    }
</style>
<body class="bg-gray-100 font-sans">
    <main class="mx-4 md:mx-10 lg:mx-20 p-6">
        <div class="mb-12">
            <div class="grid grid-cols-5 gap-6">
                <div class="col-span-4">
                    <h2 class="text-4xl lg:text-5xl font-bold text-left">Our Courses</h2>
                    <p class="text-gray-600 mt-2">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis praesentium voluptatum reiciendis aspernatur et nam aliquam iure non enim numquam exercitationem, quod dolore est id quo repudiandae! Repellendus, voluptatibus. Quae.
                    </p>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 max-w-7xl p-6 mb-6 bg-white rounded-lg shadow-lg">
            <div class="flex flex-col mb-4">
                <label for="topic" class="mb-1 text-sm text-gray-600">Topic</label>
                <div class="relative ">
                    <!-- Selected Items -->
                    <div id="selected-topic" nclick="toggleDropdown('topic')"
                        class="flex flex-wrap gap-2 px-3 py-2 border rounded-full bg-white text-sm cursor-pointer">
                        <span class="text-gray-400">All topics</span>
                    </div>

                    <!-- Dropdown -->
                    <div class="absolute z-50 w-full bg-white border rounded shadow-lg hidden max-h-48 overflow-y-auto"
                        id="dropdown-topic">
                        <div class="px-4 py-2 cursor-pointer hover:bg-gray-100"
                            onclick="toggleSelection('Web Development', 'topic')">
                            Web Development
                        </div>
                        <div class="px-4 py-2 cursor-pointer hover:bg-gray-100"
                            onclick="toggleSelection('Data Science', 'topic')">
                            Data Science
                        </div>
                        <div class="px-4 py-2 cursor-pointer hover:bg-gray-100" 
                            onclick="toggleSelection('Machine Learning', 'topic')">
                            Machine Learning
                        </div>
                    </div>
                    <div id="topic-tags" class="mt-2 flex flex-wrap gap-2"></div>
                </div>
            </div>

            <!-- Multiselect Dropdown for Price -->
            <div class="flex flex-col mb-4">
                <label for="price" class="mb-1 text-sm text-gray-600">Price</label>
                <div class="relative">
                    <!-- Selected Items -->
                    <div id="selected-price" onclick="toggleDropdown('price')"
                        class="flex flex-wrap gap-2 px-3 py-2 border rounded-full bg-white text-sm cursor-pointer">
                        <span class="text-gray-400">All prices</span>
                    </div>

                    <!-- Dropdown -->
                    <div class="absolute z-50 w-full bg-white border rounded shadow-lg hidden max-h-48 overflow-y-auto"
                                id="dropdown-price">
                        <div class="px-4 py-2 cursor-pointer hover:bg-gray-100"
                            onclick="toggleSelection('$200 - $800', 'price')">
                            $200 - $800
                        </div>
                        <div class="px-4 py-2 cursor-pointer hover:bg-gray-100"
                            onclick="toggleSelection('$800 - $1500', 'price')">
                            $800 - $1500
                        </div>
                        <div class="px-4 py-2 cursor-pointer hover:bg-gray-100"
                            onclick="toggleSelection('$1500+', 'price')">
                            $1500+
                        </div>
                    </div>
                </div>
            </div>

            <!-- Multiselect Dropdown for Level -->
            <div class="flex flex-col mb-4">
                <label for="level" class="mb-1 text-sm text-gray-600">Level</label>
                <div class="relative">
                    <!-- Selected Items -->
                    <div id="selected-level" onclick="toggleDropdown('level')"
                        class="flex flex-wrap gap-2 px-3 py-2 border rounded-full bg-white text-sm cursor-pointer">
                        <span class="text-gray-400">All levels</span>
                    </div>

                    <!-- Dropdown -->
                    <div class="absolute z-50 wn-full bg-white border rounded shadow-lg hidden max-h-48 overflow-y-auto"
                        id="dropdown-level">
                        <div class="px-4 py-2 cursor-pointer hover:bg-gray-100"
                            onclick="toggleSelection('Beginner', 'level')">
                            Beginner
                        </div>
                        <div class="px-4 py-2 cursor-pointer hover:bg-gray-100" 
                                onclick="toggleSelection('Intermediate', 'level')">
                            Intermediate
                        </div>
                        <div class="px-4 py-2 cursor-pointer hover:bg-gray-100"
                                onclick="toggleSelection('Advanced', 'level')">
                            Advanced
                        </div>
                    </div>
                </div>
            </div>

            <!-- Multiselect Dropdown for Skill -->
            <div class="flex flex-col mb-4">
                <label for="skill" class="mb-1 text-sm text-gray-600">SkillGain</label>
                <div class="relative">
                    <!-- Selected Items -->
                    <div id="selected-skill" onclick="toggleDropdown('skill')"
                        class="flex flex-wrap gap-2 px-3 py-2 border rounded-full bg-white text-sm cursor-pointer">
                        <span class="text-gray-400">Any skill</span>
                    </div>

                    <!-- Dropdown -->
                    <div class="absolute z-50 w-full bg-white border rounded shadow-lg hidden max-h-48 overflow-y-auto"
                            id="dropdown-skill">
                        <div class="px-4 py-2 cursor-pointer hover:bg-gray-100" onclick="toggleSelection('Programming', 'skill')">
                            Programming
                        </div>
                        <div class="px-4 py-2 cursor-pointer hover:bg-gray-100"
                            onclick="toggleSelection('Design', 'skill')" >
                            Design
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Course Cards -->
        {{#if courses.length}}
        <div id="course-container" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {{#each courses}}
            <div class="bg-white rounded-lg shadow-lg overflow-hidden flex flex-col">
                <img src="{{this.Img}}" alt="{{this.Title}}" class="w-full h-72 object-cover" />
                <div class="p-6 flex-grow">
                    <div class="flex items-center text-sm text-gray-500 mb-2">
                        <div class="mr-2 border border-slate-300 rounded-md inline-block py-0.5 px-2">{{this.Duration}} Weeks</div> | 
                        <span class="ml-2 border border-slate-300 rounded-md inline-block py-0.5 px-2">{{this.Level}}</span>
                    </div>
                    <h3 class="text-xl font-semibold">{{this.Title}}</h3>
                    <p class="text-gray-400 text-sm mt-2">{{this.ShortDesc}}</p>
                </div>
                <div class="grid grid-cols-2 gap-2 mt-auto mb-3 p-3">
                    <button class="mt-4 w-full bg-gray-100 text-black py-2 rounded-md">Get it Now</button>
                    <button id="seeMore-btn" class="mt-4 w-full bg-gray-100 text-black py-2 rounded-md" 
                    onclick="window.location.href='/courses/{{this._id}}'">See detail</button>
                </div>
            </div>
            {{/each}}
        </div>
        {{else}}
        <div class="text-center text-gray-600 mt-8">
            <h2 class="text-4xl font-bold text-center">No Courses found</h2>
        </div>
        {{/if}}

        <!-- Pagination -->
        <div class="flex justify-center mt-8 space-x-4">
            <button id="prev-btn" class="px-4 py-2 bg-gray-800 text-white rounded-md {{#if isFirstPage}}disabled:bg-gray-300 text-gray-700{{/if}}" 
                    onclick="changePage('prev')"
                    {{#if isFirstPage}}disabled{{/if}}>Previous</button>
            <div id="page-info" class="text-gray-700 font-medium inline-block relative top-2">Page {{currentPage}} of {{totalPages}}</div>
            <button id="next-btn" class="px-4 py-2 bg-gray-800 text-white rounded-md {{#if isLastPage}}disabled:bg-gray-300 text-gray-700{{/if}}" 
                    onclick="changePage('next')"
                    {{#if isLastPage}}disabled{{/if}}>Next</button>
        </div>
    </main>
    <script src="/javascripts/CourseScript.js"></script>
</body>
</html>
