<!--Hero-->
        <div
            class="2xl:mt-[100px] lg:mt-[90px] container mx-auto flex items-center justify-center flex-col"
        >
            <div
                class="flex justify-center items-center gap-3 lg:relative py-3 bg-[#FCFCFD] border-[1px] border-solid border-[#F1F1F3] rounded-[11px]"
            >
                <img
                    src="../assets/icon/Abstract Line.svg"
                    alt=""
                    class="w-9 h-9 lg:absolute left-[-32px] top-[-28px] lg:block hidden"
                />
                <img src="../assets/icon/thunder.svg" alt="" class="w-9 h-9" />
                <p
                    class="2xl:text-5xl sm:text-4xl text-base text-[#1A1A1A] font-semibold"
                >
                    <a class="text-[#4f75ff]">Unlock</a> Your Creative Potential
                </p>
            </div>

            <div class="text-[#262626] sm:mt-5 mt-4">
                <p
                    class="2xl:text-4xl sm:text-3xl text-2xl items-center text-center font-medium"
                >
                    with Online Design and Development Courses.
                </p>
                <p
                    class="2xl:text-lg sm:text-base text-sm items-center text-center mt-3"
                >
                    Learn from Industry Experts and Enhance Your Skills.
                </p>
            </div>
            <div class="flex 2xl:mt-16 mt-12">
                <button
                    class="bg-[#4f75ff] rounded-md 2xl:px-6 2xl:py-4 px-5 py-4 2xl:text-lg sm:text-base text-sm text-white font-semibold"
                    onclick="window.location.href='/courses'"
                >
                    Explore Courses
                </button>
                <button
                    class="rounded-md 2xl:px-6 2xl:py-4 px-5 py-4 2xl:text-lg sm:text-base text-sm ml-10 border-solid border-[1px] border-[#F1F1F3] font-medium"
                >
                    View Pricing
                </button>
            </div>
        </div>
        <!--End Hero-->
        <!--Logo Company-->
        <div
            class="sm:mt-20 mt-12 container mx-auto flex justify-around items-center bg-[#FCFCFD] border-[1px] border-solid border-[#F1F1F3] rounded-[12px]"
        >
            <a
                class="2xl:px-10 2xl:py-8 px-7 py-5"
                href="https://zapier.com/"
                target="_blank"
            >
                <img
                    src="../assets/icon/zapier.svg"
                    alt="logo"
                    class="2xl:w-[92px] lg:w-[56px] w-[48px] 2xl:h-8 h-6"
                />
            </a>
            <a
                class="2xl:px-10 2xl:py-8 px-7 py-5"
                href="https://spotify.com"
                target="_blank"
            >
                <img
                    src="../assets/icon/spotify.svg"
                    alt="logo"
                    class="2xl:w-[92px] lg:w-[56px] w-[48px] 2xl:h-8 h-6"
                />
            </a>
            <a
                class="2xl:px-10 2xl:py-8 px-7 py-5"
                href="https://zoom.com"
                target="_blank"
            >
                <img
                    src="../assets/icon/zoom.svg"
                    alt="logo"
                    class="2xl:w-[92px] lg:w-[56px] w-[48px] 2xl:h-8 h-6"
                />
            </a>
            <a
                class="2xl:px-10 2xl:py-8 sm:px-7 sm:py-5 hidden lg:block"
                href="https://amazon.com"
                target="_blank"
            >
                <img
                    src="../assets/icon/amazon.svg"
                    alt="logo"
                    class="2xl:w-[92px] lg:w-[56px] w-[48px] 2xl:h-8 h-6"
                />
            </a>
            <div
                class="2xl:px-10 2xl:py-8 sm:px-7 sm:py-5 hidden lg:block"
                href="https://adobe.com"
                target="_blank"
            >
                <img
                    src="../assets/icon/adobe.svg"
                    alt="logo"
                    class="2xl:w-[92px] lg:w-[56px] w-[48px] 2xl:h-8 h-6"
                />
            </div>
            <a
                class="2xl:px-10 2xl:py-8 sm:px-7 sm:py-5 hidden lg:block"
                href="https://notion.com"
                target="_blank"
            >
                <img
                    src="../assets/icon/notion.svg"
                    alt="logo"
                    class="2xl:w-[92px] lg:w-[56px] w-[48px] 2xl:h-8 h-6"
                />
            </a>
            <a
                class="2xl:px-10 2xl:py-8 sm:px-7 sm:py-5 hidden lg:block"
                href="https://netflix.com"
                target="_blank"
            >
                <img
                    src="../assets/icon/netflix.svg"
                    alt="logo"
                    class="2xl:w-[92px] lg:w-[56px] w-[48px] 2xl:h-8 h-6"
                />
            </a>
        </div>
        <!--End Logo Company-->
        <!--Video-->
        <div class="container mx-auto lg:mt-24 mt-12 object-cover">
            <img src="../assets/images/video_placeholder.png" alt="" />
        </div>
        <!--End Video-->
        <!--Benefits-->
        <div class="container mx-auto 2xl:mt-36 mt-12 md:mt-24">
            <div>
                <h1
                    class="text-[#262626] 2xl:text-5xl text-3xl md:text-4xl font-semibold"
                >
                    Benefits
                </h1>
                <div class="grid grid-cols-12 items-center mt-2">
                    <p class="text-[#59595A] text-lg lg:col-span-9 col-span-12">
                        Lorem ipsum dolor sit amet consectetur. Tempus tincidunt
                        etiam eget elit id imperdiet et. Cras eu sit dignissim
                        lorem nibh et. Ac cum eget habitasse in velit fringilla
                        feugiat senectus in.
                    </p>
                    <button
                        class="hover:bg-slate-200 text-[#262626] lg:ml-auto lg:mt-0 mt-5 text-lg border-solid border-[1px] border-[#F1F1F3] bg-[#FCFCFD] rounded-lg px-6 py-4 lg:col-start-11 lg:col-span-2 col-span-3 font-medium"
                    >
                        View All
                    </button>
                </div>
            </div>
            <div class="grid grid-cols-12 grid-rows-2 gap-5 mt-20">
                <div
                    class="lg:p-10 p-7 lg:col-span-4 col-span-12 row-span-1 bg-white rounded-xl"
                >
                    <div>
                        <div
                            class="text-[#262626] 2xl:text-[80px] lg:text-[60px] text-[50px] text-right"
                        >
                            <p class="font-bold">01</p>
                        </div>
                        <p
                            class="text-[#333333] text-xl font-semibold 2xl:mt-12 mt-10"
                        >
                            Flexible Learning Schedule
                        </p>
                        <p
                            class="text-[#4c4c4d] md:text-base text-sm 2xl:mt-[14px] mt-[10px]"
                        >
                            Fit your coursework around your existing commitments
                            and obligations.
                        </p>
                        <div class="2xl:mt-12 md:mt-10 mt-7">
                            <button
                                class="2xl:p-5 p-[14px] 2xl:rounded-lg rounded-md border-solid border-[1px] border-[#F1F1F3] bg-[#FCFCFD] float-right"
                            >
                                <img
                                    src="../assets/icon/open_more.svg"
                                    alt=""
                                />
                            </button>
                        </div>
                    </div>
                </div>
                <div
                    class="lg:p-10 p-7 lg:col-span-4 col-span-12 row-span-1 bg-white rounded-xl"
                >
                    <div>
                        <div
                            class="text-[#262626] 2xl:text-[80px] lg:text-[60px] text-[50px] text-right"
                        >
                            <p class="font-bold">02</p>
                        </div>
                        <p
                            class="text-[#333333] text-xl font-semibold 2xl:mt-12 mt-10"
                        >
                            Expert Instruction
                        </p>
                        <p
                            class="text-[#4c4c4d] md:text-base text-sm 2xl:mt-[14px] mt-[10px]"
                        >
                            Learn from industry experts who have hands-on
                            experience in design and development.
                        </p>
                        <div class="2xl:mt-12 md:mt-10 mt-7">
                            <button
                                class="2xl:p-5 p-[14px] 2xl:rounded-lg rounded-md border-solid border-[1px] border-[#F1F1F3] bg-[#FCFCFD] float-right"
                            >
                                <img
                                    src="../assets/icon/open_more.svg"
                                    alt=""
                                />
                            </button>
                        </div>
                    </div>
                </div>
                <div
                    class="lg:p-10 p-7 lg:col-span-4 col-span-12 row-span-1 bg-white rounded-xl"
                >
                    <div>
                        <div
                            class="text-[#262626] 2xl:text-[80px] lg:text-[60px] text-[50px] text-right"
                        >
                            <p class="font-bold">03</p>
                        </div>
                        <p
                            class="text-[#333333] text-xl font-semibold 2xl:mt-12 mt-10"
                        >
                            Diverse Course Offerings
                        </p>
                        <p
                            class="text-[#4c4c4d] md:text-base text-sm 2xl:mt-[14px] mt-[10px]"
                        >
                            Explore a wide range of design and development
                            courses covering various topics.
                        </p>
                        <div class="2xl:mt-12 md:mt-10 mt-7">
                            <button
                                class="2xl:p-5 p-[14px] 2xl:rounded-lg rounded-md border-solid border-[1px] border-[#F1F1F3] bg-[#FCFCFD] float-right"
                            >
                                <img
                                    src="../assets/icon/open_more.svg"
                                    alt=""
                                />
                            </button>
                        </div>
                    </div>
                </div>
                <div
                    class="lg:p-10 p-7 lg:col-span-4 col-span-12 row-span-1 bg-white rounded-xl"
                >
                    <div>
                        <div
                            class="text-[#262626] 2xl:text-[80px] lg:text-[60px] text-[50px] text-right"
                        >
                            <p class="font-bold">04</p>
                        </div>
                        <p
                            class="text-[#333333] text-xl font-semibold 2xl:mt-12 mt-10"
                        >
                            Updated Curriculum
                        </p>
                        <p
                            class="text-[#4c4c4d] md:text-base text-sm 2xl:mt-[14px] mt-[10px]"
                        >
                            Access courses with up-to-date content reflecting
                            the latest trends and industry practices.
                        </p>
                        <div class="2xl:mt-12 md:mt-10 mt-7">
                            <button
                                class="2xl:p-5 p-[14px] 2xl:rounded-lg rounded-md border-solid border-[1px] border-[#F1F1F3] bg-[#FCFCFD] float-right"
                            >
                                <img
                                    src="../assets/icon/open_more.svg"
                                    alt=""
                                />
                            </button>
                        </div>
                    </div>
                </div>
                <div
                    class="lg:p-10 p-7 lg:col-span-4 col-span-12 row-span-1 bg-white rounded-xl"
                >
                    <div>
                        <div
                            class="text-[#262626] 2xl:text-[80px] lg:text-[60px] text-[50px] text-right"
                        >
                            <p class="font-bold">05</p>
                        </div>
                        <p
                            class="text-[#333333] text-xl font-semibold 2xl:mt-12 mt-10"
                        >
                            Practical Projects and Assignments
                        </p>
                        <p
                            class="text-[#4c4c4d] md:text-base text-sm 2xl:mt-[14px] mt-[10px]"
                        >
                            Develop a portfolio showcasing your skills and
                            abilities to potential employers.
                        </p>
                        <div class="2xl:mt-12 md:mt-10 mt-7">
                            <button
                                class="2xl:p-5 p-[14px] 2xl:rounded-lg rounded-md border-solid border-[1px] border-[#F1F1F3] bg-[#FCFCFD] float-right"
                            >
                                <img
                                    src="../assets/icon/open_more.svg"
                                    alt=""
                                />
                            </button>
                        </div>
                    </div>
                </div>
                <div
                    class="lg:p-10 p-7 lg:col-span-4 col-span-12 row-span-1 bg-white rounded-xl"
                >
                    <div>
                        <div
                            class="text-[#262626] 2xl:text-[80px] lg:text-[60px] text-[50px] text-right"
                        >
                            <p class="font-bold">06</p>
                        </div>
                        <p
                            class="text-[#333333] text-xl font-semibold 2xl:mt-12 mt-10"
                        >
                            Interactive Learning Environment
                        </p>
                        <p
                            class="text-[#4c4c4d] md:text-base text-sm 2xl:mt-[14px] mt-[10px]"
                        >
                            Collaborate with fellow learners, exchanging ideas
                            and feedback to enhance your understanding.
                        </p>
                        <div class="2xl:mt-12 md:mt-10 mt-7">
                            <button
                                class="2xl:p-5 p-[14px] 2xl:rounded-lg rounded-md border-solid border-[1px] border-[#F1F1F3] bg-[#FCFCFD] float-right"
                            >
                                <img
                                    src="../assets/icon/open_more.svg"
                                    alt=""
                                />
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Benefits-->
        <!--Courses-->
        <div class="container mx-auto 2xl:mt-36 mt-12 md:mt-24">
            <div>
                <h1
                    class="text-[#262626] 2xl:text-5xl text-3xl md:text-4xl font-semibold"
                >
                    Our Courses
                </h1>
                <div class="grid grid-cols-12 items-center mt-2">
                    <p class="text-[#59595A] text-lg lg:col-span-9 col-span-12">
                        Lorem ipsum dolor sit amet consectetur. Tempus tincidunt
                        etiam eget elit id imperdiet et. Cras eu sit dignissim
                        lorem nibh et. Ac cum eget habitasse in velit fringilla
                        feugiat senectus in.
                    </p>
                    <button
                        onclick="window.location.href='/courses'"
                        class="hover:bg-slate-200 text-[#262626] lg:ml-auto lg:mt-0 mt-5 text-lg border-solid border-[1px] border-[#F1F1F3] bg-[#FCFCFD] rounded-lg px-6 py-4 lg:col-start-11 lg:col-span-2 col-span-3 font-medium"
                    >
                        View All
                    </button>
                </div>
            </div>
            <div
                class="grid grid-cols-12 grid-rows-3 2xl:gap-7 gap-5 2xl:mt-20 mt-[60px]"
            >
            {{#each Courses}}
                <div
                    class="2xl:p-12 lg:p-10 p-6 lg:col-span-6 col-span-12 row-span-1 flex flex-col justify-between bg-white rounded-xl border-solid border-[1px] border-[##F1F1F3]"
                >
                    <div>
                        <img src="{{this.Img}}" alt="{{this.Title}}" class="w-full 2xl:h-[360px] lg:h-[267px] h-[172px] object-cover" />
                    </div>
                    <div
                        class="2xl:mt-7 mt-6 flex items-center justify-center gap-3"
                    >
                        <p class="text-[#4C4C4D] 2xl:text-lg text-sm">
                            {{this.Duration}} Weeks
                        </p>
                        <p class="text-[#4C4C4D] 2xl:text-lg text-sm">
                            {{this.Level}}
                        </p>
                        <div class="ml-auto">
                            <p
                                class="text-[#262626] 2xl:text-xl text-base font-medium"
                            >
                                {{this.Lecturer}}
                            </p>
                        </div>
                    </div>
                    <div class="mt-6">
                        <p
                            class="text-[#262626] 2xl:text-2xl text-xl font-semibold"
                        >
                            {{this.Title}}
                        </p>
                    </div>
                    <div class="mt-3">
                        <p
                            class="text-[#4C4C4D] 2xl:text-2xl text-xll flex-grow"
                        >
                            {{this.ShortDesc}}
                        </p>
                    </div>
                    <button
                        class="font-medium mt-4  px-6 py-4 text-[#262626] 2xl:text-xl text-sm rounded-md border-solid border-[1px] border-[#F1F1F3] bg-[#F7F7F8] w-full hover:bg-slate-200"
                        onclick="window.location.href='/courses/{{this.id}}'"
                    >
                        Get it Now
                    </button>
                </div>
                  {{/each}}
            </div>
        </div>
        <!--End Courses-->
        <!--Testimonials-->
        <div class="container mx-auto 2xl:mt-36 mt-12 md:mt-24">
            <div>
                <h1
                    class="text-[#262626] 2xl:text-5xl text-3xl md:text-4xl font-semibold"
                >
                    Our Testimonials
                </h1>
                <div class="grid grid-cols-12 items-center mt-2">
                    <p class="text-[#59595A] text-lg lg:col-span-9 col-span-12">
                        Lorem ipsum dolor sit amet consectetur. Tempus tincidunt
                        etiam eget elit id imperdiet et. Cras eu sit dignissim
                        lorem nibh et. Ac cum eget habitasse in velit fringilla
                        feugiat senectus in.
                    </p>
                    <button
                        class="hover:bg-slate-200 text-[#262626] lg:ml-auto lg:mt-0 mt-5 text-lg border-solid border-[1px] border-[#F1F1F3] bg-[#FCFCFD] rounded-lg px-6 py-4 lg:col-start-11 lg:col-span-2 col-span-3 font-medium"
                    >
                        View All
                    </button>
                </div>
            </div>
            <div
                class="grid grid-cols-12 lg:grid-rows-2 2xl:gap-7 gap-5 2xl:mt-20 mt-[60px]"
            >
                <div
                    class="lg:col-span-6 col-span-12 row-span-1 border-solid border-[1px] border-[#f1f1f3] bg-white rounded-xl"
                >
                    <div class="2xl:p-12 lg:p-10 p-7">
                        <p
                            class="text-[#4C4C4D] 2xl:text-lg lg:text-base text-sm"
                        >
                            The web design course provided a solid foundation
                            for me. The instructors were knowledgeable and
                            supportive, and the interactive learning environment
                            was engaging. I highly recommend it!
                        </p>
                    </div>
                    <hr />
                    <div
                        class="flex 2xl:px-12 2xl:py-7 px-7 py-5 lg:px-10 lg:py-6 bg-[#fcfcfd]"
                    >
                        <div class="flex items-center">
                            <img src="../assets/images/Avatar01.png" alt="" />
                            <p
                                class="text-[#333333] 2xl:text-lg 2xl:ml-4 text-base ml-[10px] font-semibold"
                            >
                                Sarah L
                            </p>
                        </div>
                        <button
                            class="ml-auto 2xl:px-6 2xl:py-4 px-4 py-[14px] text-[#262626] text-lg rounded-lg border-solid border-[1px] border-[#F1F1F3] bg-[#F7F7F8] hover:bg-slate-200 font-medium"
                        >
                            Read Full Story
                        </button>
                    </div>
                </div>
                <div
                    class="lg:col-span-6 col-span-12 row-span-1 border-solid border-[1px] border-[#f1f1f3] bg-white rounded-xl"
                >
                    <div class="2xl:p-12 lg:p-10 p-7">
                        <p
                            class="text-[#4C4C4D] 2xl:text-lg lg:text-base text-sm"
                        >
                            The UI/UX design course exceeded my expectations.
                            The instructor's expertise and practical assignments
                            helped me improve my design skills. I feel more
                            confident in my career now. Thank you!
                        </p>
                    </div>
                    <hr />
                    <div
                        class="flex 2xl:px-12 2xl:py-7 px-7 py-5 lg:px-10 lg:py-6 bg-[#fcfcfd]"
                    >
                        <div class="flex items-center">
                            <img src="../assets/images/Avatar02.png" alt="" />
                            <p
                                class="text-[#333333] 2xl:text-lg 2xl:ml-4 text-base ml-[10px] font-semibold"
                            >
                                Jason M
                            </p>
                        </div>
                        <button
                            class="ml-auto 2xl:px-6 2xl:py-4 px-4 py-[14px] text-[#262626] text-lg rounded-lg border-solid border-[1px] border-[#F1F1F3] bg-[#F7F7F8] hover:bg-slate-200 font-medium"
                        >
                            Read Full Story
                        </button>
                    </div>
                </div>
                <div
                    class="lg:col-span-6 col-span-12 row-span-1 border-solid border-[1px] border-[#f1f1f3] bg-white rounded-xl"
                >
                    <div class="2xl:p-12 lg:p-10 p-7">
                        <p
                            class="text-[#4C4C4D] 2xl:text-lg lg:text-base text-sm"
                        >
                            The mobile app development course was fantastic! The
                            step-by-step tutorials and hands-on projects helped
                            me grasp the concepts easily. I'm now building my
                            own app. Great course!
                        </p>
                    </div>
                    <hr />
                    <div
                        class="flex 2xl:px-12 2xl:py-7 px-7 py-5 lg:px-10 lg:py-6 bg-[#fcfcfd]"
                    >
                        <div class="flex items-center">
                            <img src="../assets/images/Avatar03.png" alt="" />
                            <p
                                class="text-[#333333] 2xl:text-lg 2xl:ml-4 text-base ml-[10px] font-semibold"
                            >
                                Emily R
                            </p>
                        </div>
                        <button
                            class="ml-auto 2xl:px-6 2xl:py-4 px-4 py-[14px] text-[#262626] text-lg rounded-lg border-solid border-[1px] border-[#F1F1F3] bg-[#F7F7F8] hover:bg-slate-200 font-medium"
                        >
                            Read Full Story
                        </button>
                    </div>
                </div>
                <div
                    class="lg:col-span-6 col-span-12 row-span-1 border-solid border-[1px] border-[#f1f1f3] bg-white rounded-xl"
                >
                    <div class="2xl:p-12 lg:p-10 p-7">
                        <p
                            class="text-[#4C4C4D] 2xl:text-lg lg:text-base text-sm"
                        >
                            I enrolled in the graphic design course as a
                            beginner, and it was the perfect starting point. The
                            instructor's guidance and feedback improved my
                            design abilities significantly. I'm grateful for
                            this course!
                        </p>
                    </div>
                    <hr />
                    <div
                        class="flex 2xl:px-12 2xl:py-7 px-7 py-5 lg:px-10 lg:py-6 bg-[#fcfcfd]"
                    >
                        <div class="flex items-center">
                            <img src="../assets/images/Avatar04.png" alt="" />
                            <p
                                class="text-[#333333] 2xl:text-lg 2xl:ml-4 text-base ml-[10px] font-semibold"
                            >
                                Michael K
                            </p>
                        </div>
                        <button
                            class="ml-auto 2xl:px-6 2xl:py-4 px-4 py-[14px] text-[#262626] text-lg rounded-lg border-solid border-[1px] border-[#F1F1F3] bg-[#F7F7F8] hover:bg-slate-200 font-medium"
                        >
                            Read Full Story
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--End Testimonials-->
        <!--Questions-->
        <div
            class="2xl:p-24 lg:p-20 p-6 container mx-auto 2xl:mt-36 mt-12 md:mt-24 bg-white rounded-xl"
        >
            <div
                class="lg:flex 2xl:gap-[120px] lg:gap-20 lg:mt-0 mt-10 justify-center"
            >
                <div>
                    <h1 class="text-[#262626] text-5xl font-semibold">
                        Frequently Asked Questions
                    </h1>
                    <p class="mt-3">
                        Still you have any questions? Contact our Team via
                        support@skillbridge.com
                    </p>
                    <button
                        class="hover:bg-slate-200 text-[#262626] ml-auto text-lg border-solid border-[1px] border-[#F1F1F3] bg-[#FCFCFD] rounded-lg px-6 py-4 mt-12 font-medium"
                    >
                        See All FAQ's
                    </button>
                </div>
                <div class="flex lg:gap-8 gap-5 flex-col lg:mt-0 mt-10">
                    <div
                        class="faq flex flex-col items-start justify-center 2xl:px-12 2xl:py-7 lg:px-10 lg:py-6 px-6 py-5 2xl:gap-12 lg:gap-10 gap-5 border-solid border-[1px] border-[#f1f1f3] bg-white rounded-xl"
                    >
                        <div class="flex self-stretch items-center">
                            <p
                                class="text-[#262626] 2xl:text-xl text-base font-medium"
                            >
                                Can I enroll in multiple courses at once?
                            </p>
                            <button
                                class="p-3 ml-auto bg-[#FFF4E5] rounded-lg open_close"
                            >
                                <img
                                    src="../assets/icon/open_ques.svg"
                                    class="w-7 h-7 img_btn"
                                    alt=""
                                />
                            </button>
                        </div>
                        <div class="detail hidden">
                            <p class="text-[#4C4C4D] 2xl:text-lg text-sm">
                                Absolutely! You can enroll in multiple courses
                                simultaneously and access them at your
                                convenience.
                            </p>
                            <div
                                class="flex justify-center items-center 2xl:mt-12 lg:mt-10 mt-6 2xl:p-5 lg:p-4 p-3 rounded-lg border-solid border-[1px] border-[#F1F1F3] bg-[#F7F7F8]"
                            >
                                <a
                                    class="text-[#333333] 2xl:text-lg lg:text-base text-sm"
                                    href=""
                                    >Enrollment Process for Different Courses</a
                                >
                                <div class="ml-auto p-3 rounded-full bg-white">
                                    <a href=""
                                        ><img
                                            src="../assets/icon/Icon-black.svg"
                                            alt=""
                                    /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="faq flex flex-col items-start justify-center 2xl:px-12 2xl:py-7 lg:px-10 lg:py-6 px-6 py-5 2xl:gap-12 lg:gap-10 gap-5 border-solid border-[1px] border-[#f1f1f3] bg-white rounded-xl"
                    >
                        <div class="flex self-stretch items-center">
                            <p
                                class="text-[#262626] 2xl:text-xl text-base font-medium"
                            >
                                What kind of support can I expect from
                                instructors?
                            </p>
                            <button
                                class="open_close p-3 ml-auto bg-[#FFF4E5] rounded-lg"
                            >
                                <img
                                    src="../assets/icon/open_ques.svg"
                                    class="w-7 h-7 img_btn"
                                    alt=""
                                />
                            </button>
                        </div>
                        <div class="detail hidden">
                            <p class="text-[#4C4C4D] 2xl:text-lg text-sm">
                                Absolutely! You can enroll in multiple courses
                                simultaneously and access them at your
                                convenience.
                            </p>
                            <div
                                class="flex justify-center items-center 2xl:mt-12 lg:mt-10 mt-6 2xl:p-5 lg:p-4 p-3 rounded-lg border-solid border-[1px] border-[#F1F1F3] bg-[#F7F7F8]"
                            >
                                <a
                                    class="text-[#333333] 2xl:text-lg lg:text-base text-sm"
                                    href=""
                                    >Enrollment Process for Different Courses</a
                                >
                                <div class="ml-auto p-3 rounded-full bg-white">
                                    <a href=""
                                        ><img
                                            src="../assets/icon/Icon-black.svg"
                                            alt=""
                                    /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="faq flex flex-col items-start justify-center 2xl:px-12 2xl:py-7 lg:px-10 lg:py-6 px-6 py-5 2xl:gap-12 lg:gap-10 gap-5 border-solid border-[1px] border-[#f1f1f3] bg-white rounded-xl"
                    >
                        <div class="flex self-stretch items-center">
                            <p
                                class="text-[#262626] 2xl:text-xl text-base font-medium"
                            >
                                Are the courses self-paced or do they have
                                specific start and end dates?
                            </p>
                            <button
                                class="open_close p-3 ml-auto bg-[#FFF4E5] rounded-lg"
                            >
                                <img
                                    src="../assets/icon/open_ques.svg"
                                    class="w-7 h-7 img_btn"
                                    alt=""
                                />
                            </button>
                        </div>
                        <div class="detail hidden">
                            <p class="text-[#4C4C4D] 2xl:text-lg text-sm">
                                Absolutely! You can enroll in multiple courses
                                simultaneously and access them at your
                                convenience.
                            </p>
                            <div
                                class="flex justify-center items-center 2xl:mt-12 lg:mt-10 mt-6 2xl:p-5 lg:p-4 p-3 rounded-lg border-solid border-[1px] border-[#F1F1F3] bg-[#F7F7F8]"
                            >
                                <a
                                    class="text-[#333333] 2xl:text-lg lg:text-base text-sm"
                                    href=""
                                    >Enrollment Process for Different Courses</a
                                >
                                <div class="ml-auto p-3 rounded-full bg-white">
                                    <a href=""
                                        ><img
                                            src="../assets/icon/Icon-black.svg"
                                            alt=""
                                    /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="faq flex flex-col items-start justify-center 2xl:px-12 2xl:py-7 lg:px-10 lg:py-6 px-6 py-5 2xl:gap-12 lg:gap-10 gap-5 border-solid border-[1px] border-[#f1f1f3] bg-white rounded-xl"
                    >
                        <div class="flex self-stretch items-center">
                            <p
                                class="text-[#262626] 2xl:text-xl text-base font-medium"
                            >
                                Are there any prerequisites for the courses?
                            </p>
                            <button
                                class="open_close p-3 ml-auto bg-[#FFF4E5] rounded-lg"
                            >
                                <img
                                    src="../assets/icon/open_ques.svg"
                                    class="w-7 h-7 img_btn"
                                    alt=""
                                />
                            </button>
                        </div>
                        <div class="detail hidden">
                            <p class="text-[#4C4C4D] 2xl:text-lg text-sm">
                                Absolutely! You can enroll in multiple courses
                                simultaneously and access them at your
                                convenience.
                            </p>
                            <div
                                class="flex justify-center items-center 2xl:mt-12 lg:mt-10 mt-6 2xl:p-5 lg:p-4 p-3 rounded-lg border-solid border-[1px] border-[#F1F1F3] bg-[#F7F7F8]"
                            >
                                <a
                                    class="text-[#333333] 2xl:text-lg lg:text-base text-sm"
                                    href=""
                                    >Enrollment Process for Different Courses</a
                                >
                                <div class="ml-auto p-3 rounded-full bg-white">
                                    <a href=""
                                        ><img
                                            src="../assets/icon/Icon-black.svg"
                                            alt=""
                                    /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="faq flex flex-col items-start justify-center 2xl:px-12 2xl:py-7 lg:px-10 lg:py-6 px-6 py-5 2xl:gap-12 lg:gap-10 gap-5 border-solid border-[1px] border-[#f1f1f3] bg-white rounded-xl"
                    >
                        <div class="flex self-stretch items-center">
                            <p
                                class="text-[#262626] 2xl:text-xl text-base font-medium"
                            >
                                Can I download the course materials for offline
                                access?
                            </p>
                            <button
                                class="open_close p-3 ml-auto bg-[#FFF4E5] rounded-lg"
                            >
                                <img
                                    src="../assets/icon/open_ques.svg"
                                    class="w-7 h-7 img_btn"
                                    alt=""
                                />
                            </button>
                        </div>
                        <div class="detail hidden">
                            <p class="text-[#4C4C4D] 2xl:text-lg text-sm">
                                Absolutely! You can enroll in multiple courses
                                simultaneously and access them at your
                                convenience.
                            </p>
                            <div
                                class="flex justify-center items-center 2xl:mt-12 lg:mt-10 mt-6 2xl:p-5 lg:p-4 p-3 rounded-lg border-solid border-[1px] border-[#F1F1F3] bg-[#F7F7F8]"
                            >
                                <a
                                    class="text-[#333333] 2xl:text-lg lg:text-base text-sm"
                                    href=""
                                    >Enrollment Process for Different Courses</a
                                >
                                <div class="ml-auto p-3 rounded-full bg-white">
                                    <a href=""
                                        ><img
                                            src="../assets/icon/Icon-black.svg"
                                            alt=""
                                    /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Questions-->